<h1>投稿一覧</h1>
<% @lists.each do |list| %>
  <p>タイトル</p>
  <span>
    <%= link_to list.title, todolist_path(list.id) %>
  </span>
  <p>画像</p>
  <%= attachment_image_tag list, :image, :fill, 100, 100, format: 'jpeg' %>
<% end %>